.btn{
    width: 150px;
    background-color: aqua;
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.card{
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    border-radius: 20px;
    margin: 150px auto;
    cursor: pointer;
    transition: all 0.5s;
}
.yashil{
    transform: rotateX(180deg);
    transition: all 0.5s;
    background-color: yellow;
    border-radius: 50%;
}